{% extends '@OHMediaBackend/form.html.twig' %}

{% block meta_title %}{{ form_title }}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-body">
    <h1 class="card-title h3">{{ form_title }}</h1>

    {{ form_start(form) }}
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          {{ form_label(form.url) }}
          <div class="input-group">
            {{ form_widget(form.url) }}
            <button id="{{ form.url.vars.id }}_button" class="btn btn-dark" type="button" title="Get Video Data">
              {{ bootstrap_icon('cloud-arrow-down-fill') }}
              <span class="visually-hidden">Get Video Data</span>
            </button>
          </div>
          {{ form_help(form.url) }}
          {{ form_errors(form.url) }}
        </div>
        {{ form_row(form.title) }}

        <div class="mb-3">
          {{ form_label(form.type) }}
          <div id="video_type_display" class="form-control {% if not form.type.vars.valid %}is-invalid{% endif %}" style="background-color:var(--bs-secondary-bg)">&nbsp;</div>
          {{ form_widget(form.type, {
            required: false,
            attr: {class: 'd-none'}
          }) }}
          {{ form_errors(form.type) }}
        </div>

        {{ form_row(form.video_id, {
          attr: {
            readonly: true,
            style: 'background-color:var(--bs-secondary-bg)',
            tabindex: -1,
          }
        }) }}

        <div class="mb-3">
          <label class="form-label required">Duration</label>
          <input id="video_duration_display" class="form-control" value="{{ video.durationReadable }}" disabled />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label class="form-label">Thumbnail</label>
          <div id="video_thumbnail_display">&nbsp;</div>
        </div>

        {{ form_row(form.image) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module">
  import parse from '/bundles/ohmediavideo/js/video.js';

  const urlInput = document.getElementById('{{ form.url.vars.id }}');
  const urlLabel = document.querySelector('label[for=' + urlInput.id + ']');
  const urlButton = document.getElementById('{{ form.url.vars.id }}_button');

  const titleInput = document.getElementById('{{ form.title.vars.id }}');
  const typeInput = document.getElementById('{{ form.type.vars.id }}');
  const videoIdInput = document.getElementById('{{ form.video_id.vars.id }}');
  const thumbnailInput = document.getElementById('{{ form.thumbnail.vars.id }}');
  const durationInput = document.getElementById('{{ form.duration.vars.id }}');

  const typeDisplay = document.getElementById('video_type_display');
  const durationDisplay = document.getElementById('video_duration_display');
  const thumbnailDisplay = document.getElementById('video_thumbnail_display');

  function setTypeDisplay(type) {
    if ('youtube' === type) {
      typeDisplay.innerHTML = 'YouTube <i class="bi bi-youtube" style="color:red"></i>';
    } else if ('vimeo' === type) {
      typeDisplay.innerHTML = 'Vimeo <i class="bi bi-vimeo" style="color:#00adef"></i>';
    } else {
      typeDisplay.innerHTML = 'Unsupported Type <i class="bi bi-exclamation-triangle-fill" style="color:var(--bs-warning)"></i>';
    }
  }

  {% if video.type %}
  setTypeDisplay({{ video.type|json_encode|raw }});
  {% endif %}

  function setThumbnailDisplay(thumbnail) {
    thumbnailDisplay.innerHTML = '';

    if (thumbnail) {
      const img = document.createElement('img');
      img.src = thumbnail;

      thumbnailDisplay.appendChild(img);
    } else {
      thumbnailDisplay.innerHTML = 'Not found.';
    }
  }

  {% if video.thumbnail %}
  setThumbnailDisplay({{ video.thumbnail|json_encode|raw }});
  {% endif %}

  urlButton.addEventListener('click', async (e) => {
    e.preventDefault();

    urlButton.disabled = true;
    urlInput.disabled = true;
    titleInput.disabled = true;

    const video = await parse(urlInput.value);

    urlButton.disabled = false;
    urlInput.disabled = false;
    titleInput.disabled = false;

    if (video) {
      titleInput.value = video.title;
      typeInput.value = video.type;
      videoIdInput.value = video.id;
      thumbnailInput.value = video.thumbnail;
      durationInput.value = video.duration;

      setTypeDisplay(video.type);

      durationDisplay.value = video.duration_formatted;

      setThumbnailDisplay(video.thumbnail);
    }
  });
</script>
{% endblock %}
