{% extends '@OHMediaBackend/form.html.twig' %}

{% block meta_title %}{{ form_title }}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-body">
    <h1 class="card-title h3">{{ form_title }}</h1>

    {{ form_start(form) }}
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          {{ form_label(form.url) }}
          <div class="input-group">
            {{ form_widget(form.url) }}
            <button id="{{ form.url.vars.id }}_button" class="btn btn-dark" type="button" title="Get Video Data">
              <i class="bi bi-cloud-arrow-down-fill"></i>
              <span class="visually-hidden">Get Video Data</span>
            </button>
          </div>
          {{ form_help(form.url) }}
          {{ form_errors(form.url) }}
        </div>
        {{ form_row(form.title) }}

        <div class="mb-3">
          <label class="form-label required">Type</label>
          <div id="video_type_disabled" class="form-control" style="background-color:var(--bs-secondary-bg)">&nbsp;</div>
        </div>

        <div class="mb-3">
          <label class="form-label required">Video ID</label>
          <input id="video_id_disabled" class="form-control" disabled />
        </div>

        <div class="mb-3">
          <label class="form-label required">Duration</label>
          <input id="video_duration_disabled" class="form-control" disabled />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label class="form-label">Thumbnail</label>
          <div id="video_thumbnail_display">&nbsp;</div>
        </div>

        {{ form_row(form.image) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module">
  import parse from '/bundles/ohmediavideo/js/video.js';

  const urlInput = document.getElementById('{{ form.url.vars.id }}');
  const urlLabel = document.querySelector('label[for=' + urlInput.id + ']');
  const urlButton = document.getElementById('{{ form.url.vars.id }}_button');
  const titleInput = document.getElementById('{{ form.title.vars.id }}');
  const typeInput = document.getElementById('{{ form.type.vars.id }}');
  const videoIdInput = document.getElementById('{{ form.video_id.vars.id }}');
  const thumbnailInput = document.getElementById('{{ form.thumbnail.vars.id }}');
  const durationInput = document.getElementById('{{ form.duration.vars.id }}');

  const typeDisabled = document.getElementById('video_type_disabled');
  const videoIdDisabled = document.getElementById('video_id_disabled');
  const durationDisabled = document.getElementById('video_duration_disabled');

  const thumbnailContainer = document.getElementById('video_thumbnail_display');

  urlButton.addEventListener('click', async (e) => {
    e.preventDefault();

    urlButton.disabled = true;
    urlInput.disabled = true;
    titleInput.disabled = true;

    const video = await parse(urlInput.value);

    urlButton.disabled = false;
    urlInput.disabled = false;
    titleInput.disabled = false;

    if (video) {
      titleInput.value = video.title;
      typeInput.value = video.type;
      videoIdInput.value = video.id;
      thumbnailInput.value = video.thumbnail;
      durationInput.value = video.duration;

      if ('youtube' === video.type) {
        typeDisabled.innerHTML = 'YouTube <i class="bi bi-youtube" style="color:red"></i>';
      } else if ('vimeo' === video.type) {
        typeDisabled.innerHTML = 'Vimeo <i class="bi bi-vimeo" style="color:#00adef"></i>';
      } else {
        typeDisabled.innerHTML = 'Unsupported Type <i class="bi bi-exclamation-triangle-fill" style="color:var(--bs-warning)"></i>';
      }

      videoIdDisabled.value = video.id;
      durationDisabled.value = video.duration_formatted;

      thumbnailContainer.innerHTML = '';

      if (video.thumbnail) {
        const thumbnail = document.createElement('img');
        thumbnail.src = video.thumbnail;

        thumbnailContainer.appendChild(thumbnail);
      } else {
        thumbnailContainer.innerHTML = 'Not found.';
      }
    }
  });
</script>
{% endblock %}
